@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1, h2, h3, h4 {
    font-family: var(--font-poppins), sans-serif;
  }
  body {
    font-family: var(--font-opensans), sans-serif;
  }
}